name: CI - Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests
        shell: bash
        run: ./gradlew check

      - name: Upload test report
        uses: actions/upload-artifact@v6
        with:
          name: Test report
          path: build/reports/tests/test
          retention-days: 7